<header class="site-header">
    <div class="container header-container">
        <a href="/" class="logo-link" style="gap: 0.5rem;">
            <img src="/images/logo.png" alt="Ammit Logo" class="logo">
            <span class="text-gradient-gold" style="font-weight: 700;">Ammit</span>
        </a>
        <a href="/#book-demo" class="btn btn-primary btn-sm" style="margin-right:auto; margin-left: auto;">Book a
            Demo</a>

        <a href="https://github.com/AmmitPte" target="_blank" rel="noopener noreferrer" class="social-link"
            aria-label="GitHub">

            <img src="/images/github.svg" alt="GitHub Icon" width="24" height="24" style="margin-right: 24px;" />
        </a>

        <nav class="main-nav">
            <button class="mobile-menu-btn" aria-label="Toggle menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul class="nav-list">
                {{ $currentPage := . }}
                {{ range site.Menus.main }}
                <li class="nav-item">
                    <a href="{{ .URL }}" class="nav-link {{ if $currentPage.IsMenuCurrent " main" . }}active{{ end
                        }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</header>